body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width: 100px;
}

.navigationContainer {
  background-color: darkgray;
  height: 66px;
  display: flex;
  align-items: center;
}

.navigationContainer a {
  margin-left: 10px;
  text-decoration: none;
}

.homeContainer p {
    margin-left: 10px;
    margin-right: 10px;
}

.nasaContentContainer p{
    margin-left: 10px;
    margin-right: 10px;
}

.inputContainer input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px; 
    border-color: #A9A9A9;
}

.inputContainer button{
    border-color: #A9A9A9;
}

.errorMessage {
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
